.global-container {
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}

.global-content {
  text-align: center;
  z-index: 1;
  width: 95%;
  max-width: 1480px;
  padding: 2rem;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  padding-top: 40vh;
}

.mainHeader {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-dark {
  background-color: rgba(52, 58, 64, 0.5);
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(73, 80, 87, 1);
  border-radius: 0.5rem;
}

.card-dark .card-header {
  background-color: rgba(33, 37, 41, 0.5);
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(73, 80, 87, 1);
}

.card-dark .card-body {
  background-color: rgba(52, 58, 64, 0.5);
  color: rgba(255, 255, 255, 1);
}

.card-dark .card-footer {
  background-color: rgba(33, 37, 41, 0.5);
  color: rgba(255, 255, 255, 1);
  border-top: 1px solid rgba(73, 80, 87, 1);
}

.scroll-dark {
  overflow: auto;
  max-height: 763px;
}

.scroll-dark::-webkit-scrollbar {
  width: 12px;
}

.scroll-dark::-webkit-scrollbar-track {
  background: rgba(33, 37, 41, 1);
}

.scroll-dark::-webkit-scrollbar-thumb {
  background-color: rgba(52, 58, 64, 1);
  border-radius: 6px;
  border: 3px solid rgba(33, 37, 41, 1);
}

.scroll-dark::-webkit-scrollbar-thumb:hover {
  background-color: rgba(73, 80, 87, 1);
}

.scroll-dark {
  scrollbar-color: rgba(52, 58, 64, 1) rgba(33, 37, 41, 1);
  scrollbar-width: thin;
}