body {
    margin: 0;
    place-items: center;
    min-height: 100vh;
    background: #242424 !important;
}

.navbar {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    font-weight: bold;
    height: 80px;
}

.navbar .nav-link {
    position: relative;
    top: -7px;
}

.navbar .navbar-brand {
    position: relative;
    top: -7px;
}